[user]
	email = irbowen@umich.edu
	name = Isaac Bowen
[push]
	default = simple
[core]
	editor = vim
[diff]
	tool = vimdiff3
[color]
	status = always
[alias]
	mercn = merge --no-ff
	s = status
	b = branch
	d = diff
	dc = diff --cached
	dag = log --all --graph --format='format:%C(yellow)%h %C(reset) %C(blue) %aN %C(reset) %C(magenta) %cr% C(reset) %C(auto)%d%C(reset)%s' --date-order
	adog = log --all --decorate --oneline --graph
